<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ariana Grande
    </ion-title>
    <img class="ari" src="../../assets/imagenes/ariana.jpg" alt="">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div class="titul">
    <h1 >Ariana Grande</h1>
  </div>
  <br>

  <div class="escrito">
   <p>
    es una cantante, actriz y empresaria estadounidense.Comenzó su carrera 
    musical en Broadway a los 15 años en el 
    musical 13 (2008). Saltó a la fama por interpretar a Cat Valentine en las 
    series de televisión de Nickelodeon Victorious (2010-2013) y Sam & Cat (2013-2014). Grande 
    firmó con Republic Records en 2011 después de que los ejecutivos del sello vieran vídeos de YouTube de sus 
    versiones de canciones. Su álbum debut de pop y R&B influenciado por el doo wop de la década 
    de 1950,​Yours Truly (2013), encabezó el Billboard 200 de Estados Unidos, mientras 
    que su sencillo principal, llegó al top 10 del Billboard Hot 100 
    de Estados Unidos. La voz y el registro de silbidos de Grande en el álbum generaron comparaciones inmediatas con Mariah Carey.
  </p>
  </div>

  <div class="arianag">
    <img src="../../assets/imagenes/arianaa.jpg" alt="">
  </div>

  <div class="ojo">
    <img src="../../assets/imagenes/ojos.gif" alt="">
  </div>

  <div class="exitos">
    <p>Continuó explorando el pop y el R&B en su segundo y tercer álbum de estudio, My Everything (2014) y Dangerous Woman (2016). 
    My Everything experimentó con el EDM y logró el éxito mundial con sus sencillos «Problem», 
    «Break Free» y «Bang Bang»; Dangerous Woman se convirtió en el primero de cuatro álbumes número uno consecutivos en el Reino Unido.
    Las luchas personales influyeron en su cuarto y quinto álbumes de estudio, Sweetener (2018) y Thank U, Next (2019), que fueron éxitos comerciales y de crítica. 
    Sweetener ganó el Premio Grammy al mejor álbum de pop vocal, y Thank U, Next rompió el récord de la semana de transmisión más grande para un álbum pop y fue nominado a álbum del año. 
    Los sencillos «Thank U, Next», «7 Rings» y «Break Up with Your Girlfriend, I'm Bored» convirtieron a Grande en la primera solista en ocupar los tres primeros lugares en el 
    Hot 100 simultáneamente y en la primera mujer en tener éxito ella misma en la parte superior de la lista de sencillos del Reino Unido. Sus colaboraciones de 2020 «Stuck with U» con Justin Bieber y «Rain on Me» con Lady 
    Gaga la ayudó a romper el récord de la mayoría de los debuts número uno en el Hot 100, este último ganó el Premio Grammy a la mejor interpretación de pop
    de dúo/grupo. El sexto álbum de estudio centrado en R&B de Grande, Positions (2020), y su canción
    principal debutaron en el número uno en el Reino Unido y los Estados Unidos. En 2021, obtuvo su sexto sencillo número uno en Estados
    Unidos después de aparecer en el remix de «Save Your Tears» de The Weeknd.
  </p>
  </div>

  <div class="aribeso">
    <img src="../../assets/imagenes/arianabeso.jpg" alt="">
  </div>

  <div class="arigif">
    <img src="../../assets/imagenes/arilinda.gif" alt="">    
  </div>

  <div class="subtitulo">
    <ion-label class="ion-text-xxlarge">Album</ion-label>
    </div>

  <div carrucel>
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="../../assets/imagenes/album1.jpeg" height="100" width="100" alt="" />
		</div>
		<div class="slide">
			<img src="../../assets/imagenes/album2.jpeg" height="100" width="100" alt="" />
		</div>
		<div class="slide">
			<img src="../../assets/imagenes/album3.jpeg" height="100" width="100" alt="" />
		</div>
		<div class="slide">
			<img src="../../assets/imagenes/album4.jpeg" height="100" width="100" alt="" />
		</div>
		<div class="slide">
			<img src="../../assets/imagenes/album5.jpeg" height="100" width="100" alt="" />
		</div>
		<div class="slide">
			<img src="h../../assets/imagenes/album6.jpeg" height="100" width="100" alt="" />
		</div>
		<div class="slide">
			<img src="../../assets/imagenes/album7.jpeg" height="100" width="100" alt="" />
		</div>
	</div>
</div>
</div>

  <div class="beso1">
    <img src="../../assets/imagenes/besos.png" alt="">
  </div>
  <div class="beso2">
    <img src="../../assets/imagenes/besos.png" alt="">
  </div>


  
  <footer>

    <h1>Redes sociales</h1>
    <div class="redes">

      <div class="red1">
      <a href="https://www.facebook.com/arianagrande/"><img src="../../assets/imagenes/facebook.png" alt=""><i class="fab fa-facebook"></i></a>
    </div>

    <div class="red2">
    <a href="https://twitter.com/arianagrande"><img src="../../assets/imagenes/x.png" alt=""> <i class="fab fa-twitter"></i></a>
  </div>
  
  <div class="red3">
    <a href="https://www.instagram.com/arianagrande/"> <img src="../../assets/imagenes/instagram.png" alt=""><i class="fab fa-instagram"></i></a>
  </div>  
  
  </div>
    </footer>
</ion-content>
